[flake8]
show-source=true
statistics=true
max-line-length = 80

exclude =
  .git,
  ./cmake,
  ./triton,
  ./sherpa/python/sherpa/__init__.py,
  ./sherpa/python/sherpa/decode.py,
  ./sherpa/python/bin
