.DS_Store
path.sh
build
dist
__pycache__
*.egg-info
torch_version.py
*.ark
*.scp
*.onnx
log/
icefall-*
icefall_
recogs-*
errs-*
rtf-*
*.wav
Testing
run-offline-ctc*.sh
run-offline-asr*.sh
sherpa-nemo-ctc*
/.cache
/.idea
/.vscode
*.pt
tokens.txt
*.bin
sherpa-sense-voice-zh-en-ja-ko-yue-2025-01-06
sherpa-whisper-tiny.en
